* {
	margin: 0;
	padding: 0;
	}

body{
  padding: 0 0 20px 0;
  font-family: helvetica;
  font-size: .8em;
}

#container{
  background:url('images/bg.jpg') repeat-x 0% 30%;
  width: 100%;
  min-height: 800px;
  position: relative;
  z-index: 1;
	margin-bottom: 50px;
}

#emailtext{

  font-size:.9em;
  color: white;
  position: absolute;
  left:50%;
  top: 30%;
}

#pwtext{
  font-size:.9em;
  color: white;
  position: absolute;
  left:65%;
  top: 30%;
}

#mainlogo{
  background: url('images/logo3.png') no-repeat;
  min-height: 243px;
	position:relative;
	width: 482 px; 
	height: 243 px;
	top: 108px;
	left: 15%;
		
}

#login_email{
  position:absolute;
  top: 34%;
  left: 50%;
}

#login_pw{
  position:absolute;
  top: 34%;
  left: 65%;
}

#signin{
  position: absolute;
  top: 35%;
  left: 80%;
}

#forgotpw{
  position: absolute;
  top: 40%;
  left: 50%;
}

#register_email{
  position: absolute;
  margin-top: 10px;
  left: 50%;
  top: 50%;
}

#register_pw{
  position: absolute;
  margin-top: 10px;
  left: 50%;
  top: 55%;
}

#register_pwconf{
  position: absolute;
  margin-top: 10px;
  left: 50%;
  top: 60%;
}

#signup{
  position: absolute;
  left: 50%;
  margin-top: 10px;
  top: 65%;
}

input.login{
	height:30px;
	width:180px;	
}
input.check{
	height: 8px;
	width: 8px;	
}

input.field{
	height:30px;
	width:180px;	
}
/*
#footer {
	background: url(images/bg.jpg) repeat-x;
	height: 30px;
  bottom: -27px;
	position: relative;
  }*/

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color: grey;
  font-size: .8em;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color: grey;
  font-size: .8em;
  } 
a:hover {
	border:1px solid #d7d6b7;
	border-right:none;
	border-left:none;
	}