* {
	margin: 0;
	padding: 0;
	}

body{
  padding: 0 0 20px 0;
}

#container{
  background:url('images/bg.jpg') repeat-x 0% 230px;
  width: 100%;
  min-height: 800px;
  z-index: 1;
	margin-bottom: 50px;
}

#emailtext{
  color: white;
  position: relative;
  left:50%;
  top: -5px;
}

#pwtext{
  color: white;
  position: relative;
  left:65%;
  top: -25px;
}

#mainlogo{
	position:relative;
	width: 482 px; 
	height: 243 px;
	top: 108px;
	left: 15%;
		
}

#login_email{
  position:relative;
  top: 0px;
  left: 50%;
}

#login_pw{
  position:relative;
  top: -34px;
  left: 65%;
}

#signin{
  position: relative;
  top: -60px;
  left: 80%;
}

#forgotpw{
  position: relative;
  top: -50px;
  left: 50%;
}

#register_email{
  position: relative;
  margin-top: 10px;
  left: 50%;
}

#register_pw{
  position: relative;
  margin-top: 10px;
  left: 50%;
}

#register_pwconf{
  position: relative;
  margin-top: 10px;
  left: 50%;
}

#signup{
  position: relative;
  left: 50%;
  margin-top: 10px;
}

input.login{
	height:30px;
	width:180px;	
}
input.check{
	height: 8px;
	width: 8px;	
}

input.field{
	height:30px;
	width:180px;	
}

#footer {
	background: url(images/bg.jpg) repeat-x;
	bottom: -400px;
	height: 54px;
	position: relative;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color: grey;
  font-size: .8em;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color: grey;
  font-size: .8em;
  } 
a:hover {
	border:1px solid #d7d6b7;
	border-right:none;
	border-left:none;
	}